<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .btn {
    width: 300px;
    margin-bottom: 10px;
    background: #212D41; /* Серый цвет фона */
    color: #FEF7EB; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-color: #FEF7EB;
    border-radius: 3px; /* Скругляем уголки */

   }
    A IMG {
    border: 1px solid #ddf;
    border-radius: 50%;
    }
    </style>
</head>
<body>
<p><a href="/" class="btn">Выйти</a></p>
<a href="/portal1"><img src="https://cdn.glitch.global/87659aa6-70e3-4dac-bfb6-3a2d54f119f5/-9ajCOekc8Q.jpg?v=1675670218450" width="200"
   height="500" alt="Пример"></a>
<a href="/portal2"><img src="https://cdn.glitch.global/87659aa6-70e3-4dac-bfb6-3a2d54f119f5/-9ajCOekc8Q.jpg?v=1675670218450" width="200"
   height="500" alt="Пример"></a>
</body>
</html>