<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .btn {
    width: 300px;
    margin-bottom: 10px;
    background: #212D41; /* Серый цвет фона */
    color: #FEF7EB; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-color: #FEF7EB;
    border-radius: 3px; /* Скругляем уголки */

   }
    </style>
</head>
<body>
<a href="/" class="btn">Выйти</a>
<a href="/portal1" class="btn">Портал (AR)</a>
<a href="/portal2" class="btn">Портал (VR)</a>
</body>
</html>